aside#show-side-navigation1.side-nav
  i.fa.fa-bars.close-aside.hidden-sm.hidden-md.hidden-lg(data-close='show-side-navigation1')
  .heading
    img(src='https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021036514417/media/23148907008/medium/1501685726/enhance' alt='')
    .info
      h3
        a(href='#') Admin
  ul.categories
    li
      i.fa.fa-home.fa-fw.remove-content(aria-hidden='true')
      a.remove-content(href='/admin/dashboard') Dashboard  
    li
      i.fa.fa-support.fa-fw
      a.remove-content(href='/admin/company')  Company
    li
      i.fa.fa-envelope.fa-fw.remove-content
      a.remove-content(href='#')  Lottery Ticket
    li
      i.fa.fa-users.fa-fw.remove-content
      a.remove-content(href='#')  Error And Return
    li
      i.fa.fa-bolt.fa-fw
      a.remove-content(href='#')  Email
     
