extends admin-layout

block content
        section#contents
                  section.statis.text-center
                        .container-fluid
                        .row.col-12
                                .col-md-3
                                        .box.bg-primary
                                                i.fa.fa-eye
                                                h3 5,154
                                                p.lead Page views
                                .col-md-3
                                        .box.danger
                                                i.fa.fa-user-o
                                                h3 245
                                                p.lead User registered
                                .col-md-3
                                        .box.warning
                                                i.fa.fa-shopping-cart
                                                h3 5,154
                                                p.lead Product sales
                                .col-md-3
                                        .box.success
                                                i.fa.fa-handshake-o
                                                h3 5,154
                                                
                                                p.lead Transactions