extends layout

include ./navbar.pug

block navbar
    +navbar("About Us")
block content
    .container
        h3.p-spacer Welcome to the Let's Play Group Lottery.
        p
            | We are a team of lottery players pulling our resources together to win together and give a part of our winnings to the community. For 6 years, we have been playing as a group in Waterloo right up GTA area. For just $10 a year, you can register with our group and enhance your chances of winning. The chances of winning are higher when tickets are purchased as a group.
        p       
            | Joining hands and playing together increases our chances of WINNING BIG. You can now earn your freedom and embark on an exciting future. From traveling to holiday-worthy places, buying homes and properties, as well as saving for your child’s education and future – the possibilities are limitless.
        b Captain
        p    
            | The captain is a people’s oriented person, with many years of experience playing lotteries in a group. For the past 6 years, his teammates had trusted him to be the captain of the group – thanks to his trustworthy nature. He is a self-driven and ambitious man with a go-getter attitude. 
        b Giving Back to the Community
        p   
            | We do not just play to earn for ourselves. We believe in community development and service and believe the best way to show our beliefs is by supporting the community with a part of our winnings to make an impact in the best way we can. Some charitable organizations we will support with our earnings include: 
            ul
                li The Heart and Stroke Foundation 
                li Canadian cancer Foundation 
                li Young Girls in Foster Care
                li KidsAbility
                li Sick Kids Foundation
        h4 Operation Highlights
        p
            | The captain leads the group and maintains the website. All tickets purchased in <label style='color:red'>TRUST</label> only so you don’t have to go to the0 store each time to buy tickets. The captain will collect funds to purchase the tickets and send a copy to each member along with the list of members before the lottery starts 2 weeks in advance. 
        p
            | All winnings and communication will be email by the captain to each group. 
        p
            | By calling the 1800 number of the lottery you can get more information on winning. 
        p 
            | Please learn more about how we operate on our <a href='/faq'>FAQ</a> page, and <a href='terms-conditions'>Terms-Condition</a> and <a href='privacy-policy'>Privacy Policy</a>.
        p
            |  
        h4 Ready to have fun and change lives together?    Register with us today!


