doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/style.css')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
    body
        include ./includeSections/termsAndConditionsModal.pug
        +model()
        block navbar
        block heroimage
        block content
        block foot
            include ./includeSections/footer.pug
        script(src="/js/index.js")
        script(src='/js/jquery-3.2.1.slim.min.js')
        script(src='/js/popper.min.js')
        script(src='/js/bootstrap.min.js')

