extends layout

include ./navbar.pug

block navbar
    +navbar("Login")
block content
    .container
        .row.p-spacer
            .col-lg-4
            .col-lg-4.col-md-8.col-sm-8.p-spacer
                div(style="display:block;box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.6)")
                    include ./includeSections/loginForm.pug
