extends layout

include ./navbar.pug

block navbar
    +navbar()
block content
    .container
        h1.p-spacer= title
        hr.clearfix.w-100
        p
            | Please read these Terms and Conditions of Use carefully before you use services offered by www.lpgl.com. If you do not agree to these Terms and Conditions, you may not use our services and we request you to cease your usage of our website and services immediately. By accessing or using our website www.lpgl.com, you shall be contracting with our company, which is registered in the city of Waterloo, Ontario, Canada. And you signify your acceptance to the Terms, and Conditions of Use and other policies (including but not limited to the privacy policy and the frequently asked questions). As posted on the website from time to time, which takes effect on the date on which you access or use our services, and create a legally binding arrangement to abide by the same.
        p
            | By accepting these Terms and Conditions, you also accept and agree to be bound by the other terms and conditions and policies (including but not limited to the  <a href='/privacy-policy'>Privacy Policy</a> and the  <a href='/faq'>Frequently Asked Questions</a>) as may be posted on the website from time to time.
        p
            | www.lpgl.com is a website owned and operated by Capri Groups Inc., a corporation registered at the city of Waterloo, Ontario, Canada (hereafter referred to as the Website and the Company, respectively).
        p
            | The Website is an online portal open to anyone who wishes to play online lottery and pool their resources together, to increase their chances of winning. All tickets on this group lottery are purchased in trust.
        p
            | We request you to please read the  <a href='/faq'>Frequently Asked Questions</a> to understand how the lottery is played and the division of prizes among the players. Please note that the Website, the Company, or any person connected in addition to that shall not be liable for any losses, claims, or damages suffered by you. By agreeing to these Terms and Conditions of Use, you agree that you have read the  <a href='/faq'>Frequently Asked Questions</a> and you agree to be bound by all the rules included in the  <a href='/faq'>Frequently Asked Questions</a>.
        p
            | Any disputes arising shall be settled through negotiations and conciliation among the members of that lottery group. Any such settlement shall be on mutual consent and shall be final and binding. The players agree that no recourse to courts shall lie against such settlement. The parties also agree not to proceed against the Captain (as defined in the  <a href='/faq'>Frequently Asked Questions</a>), the Website, the Company and any personnel connected there with (hereafter referred to as the “Management”) in the event of any loss, claim, liquidation, or winding up.
        p
            | The players agree to be bound by the rules pertaining to privacy and data protection as contained in the <a href='/privacy-policy'>Privacy Policy</a>. The Management shall not be liable for any data breach, loss, or claim. In addition to the terms and conditions contained herein, the players shall also be bound by the lottery that they choose to play. Before playing a lottery, the players are required to acknowledge to the Website their acceptance of the terms and conditions of that lottery; if the player does not wish to accept such terms and conditions, he/she may not play such lottery. For this purpose, the player may visit the lottery website to read their terms and conditions. The Management shall not be liable for any dispute arising concerning such third-party terms and conditions.
        p
            | The players are playing the lottery as part of the group, and each member of the group shall have a duty of good faith to each other and the Captain.
        p
            | We reserve the amend or modify these terms and conditions (including the terms contained in the <a href='/privacy-policy'>privacy policy</a> or the <a href='/faq'>Frequently Asked Questions</a>) at any time. If a revision is done, we will try to provide five (5) days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.
        p
            | If you have any questions or concerns, please contact us at <a href='/contactForm'>Contact Us</a>. 

















