footer.m-auto.pt-4.my-md-5.border-top
    .container
        .row
            .col-6.col-md
                h5 Call
                a.text-muted 1-800-234-2345
            .col-6.col-md
                h5 Help
                ul.list-unstyled.text-small
                    li
                    a.text-muted(href='/faq') FAQ
                    li
                    a.text-muted(href='/terms-conditions') Terms And Conditions 
                    li
                    a.text-muted(href='/privacy-policy') Privacy Policy
            .col-6.col-md
                h5 About
                ul.list-unstyled.text-small
                    li
                    a.text-muted(href='/about') About us
                    li
                    a.text-muted(href='/contact-us') Contact us    
            .col-6.col-md
                h5 Let's Play Group Lottery                
.footer-copyright.text-center.py-3.bg-dark.text-white
    | © 2020 Copyright Let's Play Group Lottery
