mixin lotteryList()
    .card-group.p-spacer
        .card.border-0.p-3
            img.card-img-top(src='../assets/images/logo/649.png', alt='Lotto 649')
            .card-body
                h5.card-title Lotto 649 <br /><br />
                p.card-text Contact - 1800-234-2344
        .card.border-0.p-3
            img.card-img-top(src='../assets/images/logo/max.png', alt='Lotto Max')
            .card-body
                h5.card-title Lotto Max <br /><br />
                p.card-text Contact - 1800-234-2344
        .card.border-0.p-3
            img.card-img-top(src='../assets/images/logo/ccs.png', alt='...')
            .card-body
                h5.card-title Canadian Cancer Society
                p.card-text Contact - 1866-727-2025
        .card.border-0.p-3
            img.card-img-top(src='../assets/images/logo/hsf.jpg', alt='Heart and Stroke Foundation')
            .card-body
                h5.card-title Heart and Stroke Foundation
                p.card-text Contact - 1844-512-1044
    .card-group.p-spacer
        .card.border-0.p-3
            img.card-img-top.bg-dark(src='../assets/images/logo/pmhl.png', alt='Princess Margaret')
            .card-body
                h5.card-title Princess Margaret
                p.card-text Contact - 1800-542-8813
        .card.border-0.p-3
            img.card-img-top(src='../assets/images/logo/rmbs.png', alt='Rotary')
            .card-body
                h5.card-title Rotary
                p.card-text Contact - 1519-743-2997
        .card.border-0.p-3
            img.card-img-top.w-100(src='../assets/images/logo/sickKids.png', alt='Sick Kids')
            .card-body
                h5.card-title Sick Kids
                p.card-text Contact - 1877-216-2598
        .card.border-0.p-3
            img.card-img-top(src='../assets/images/logo/udhl.png', alt='...')
            .card-body
                h5.card-title Card title
                p.card-text Contact 1866-319-9818
    

mixin lotteryListHomepage()
    .row.p-spacer
        .col-lg-2.col-md-2.offset-lg-2.col-sm-12.text-center
            img.homePageLotteryLogos(src='../assets/images/logo/649.png', alt='...')
        .col-lg-2.col-md-2.col-sm-12.text-center
            img.homePageLotteryLogos(src='../assets/images/logo/max.png', alt='...')
        .col-lg-2.col-md-2.col-sm-12.text-center
            img.homePageLotteryLogos(src='../assets/images/logo/ccs.png', alt='...')
        .col-lg-2.col-md-2.col-sm-12.text-center
            img.homePageLotteryLogos(src='../assets/images/logo/hsf.jpg', alt='...')
    .row.p-spacer
        .col-lg-2.col-md-2.offset-lg-2.col-sm-12.text-center
            img.homePageLotteryLogos.bg-dark(src='../assets/images/logo/pmhl.png', alt='...')
        .col-lg-2.col-md-2.col-sm-12.text-center
            img.homePageLotteryLogos(src='../assets/images/logo/rmbs.png', alt='...')
        .col-lg-2.col-md-2.col-sm-12.text-center
            img.homePageLotteryLogos(src='../assets/images/logo/sickKids.png', alt='...')
        .col-lg-2.col-md-2.col-sm-12.text-center
            img.homePageLotteryLogos(src='../assets/images/logo/udhl.png', alt='...')